.logo {
    height: 180px;
    text-align: center;
    margin: 2%;
    font-family: cursive;
    color: rgb(73, 73, 73);
}

body {
    background-image: url(https://media.istockphoto.com/photos/heart-bokeh-background-picture-id508495114?k=20&m=508495114&s=612x612&w=0&h=XnZ__oUrA6gWtzYAHQUImNWZV61sCY-iG-zr38Ym7W4=);
}

.container {
    height: 310px;
    display: flex;
    flex-direction: row-reverse;
}

#mensaje {
    width: 550px;
    height: 450px;
    margin: 1% auto;
    background: #f396ce;
    opacity: 0.9;
    border-radius: 3%;
}

.poema {
    width: 350px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    background: #f396ce;
    opacity: 0.9;
    padding: 15px;
    margin: 1% auto;
    border-radius: 3%;
    text-align: justify;
}


.style {
    height: 150px;
    width: 500px;
    background-position: 1px;
    background-color: rgb(248, 193, 225);
    display: flex;
    margin: 10px auto;
    border-radius: 3%;
    padding: 1%;

}

#key {
    width: 50px;
    margin-left: 5%;
    margin-right: 7cm;
    padding: 1%;
    border-color: blueviolet;
    border-radius: 2%;
}

.btn {
    width: 80px;
    border-radius: 2%;
    border-color: blueviolet;
}